!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>PassWarden Password Manager</title>
</head>

<body class="home--body">
    <nav class="nav">
        <figure class="nav__logo">
            <a href="{{url_for('home')}}">
                <img src="images/Logo2.jpeg" alt="PassWarden" />
            </a>
        </figure>
        <div class="nav__buttons">
            <a href="{{url_for('login')}}" class="nav__login">log in</a>
            <a href="{{url_for('register')}}" class="nav__register">register</a>
        </div>
    </nav>
    <main class="main">
        <figure class="main__image">
            <img src="images/header.jpeg" alt="/">
        </figure>
        <div class="main__wrapper">
            <p class="main__paragraph">
                Have trouble remembering your passwords?
                Need a safe and reliable way to create and store password for all of your accounts?
                Welcome to <span>PassWarden</span>, a digital warden here to keep you and your passwords safe.
                Let's get started!
            </p>
            <div class="main__button">
                <a href="{{url_for('register')}}" class="nav__register">register now</a>
            </div>
        </div>
    </main>
</body>

</html>
